<h3>View Employee Details</h3>

<div>
  <div>
    <label><b>First Name:</b></label> {{employee.firstName}}
  </div>

  <div>
    <label><b>Last Name:</b></label> {{employee.lastName}}
  </div>

  <div>
    <label><b>Bu code:</b></label> {{employee.buCode}}
  </div>

  <div>
    <label><b>Bu Name:</b></label> {{employee.buName}}
  </div>

  <div>
    <label><b>Region Code:</b></label> {{employee.regionCode}}
  </div>

  <div>
    <label><b>Region Name:</b></label> {{employee.regionName}}
  </div>
</div>
